
<!DOCTYPE html>
<html lang="en">
<head>
<style>
   .center {
        height: 400px !important;
        overflow: scroll;
   }  
   .top_right {
        position:fixed;
        right:10px;
        top:10px;
   }
</style>

    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href= "..\static\css\bootstrap.min.css" rel = "stylesheet" >
    <title>Dashboard</title>
<head>
 
<body>

<!-- Logout Button -->
<div class = top_right>
    <button type="button" class="btn btn-default btn-sm">
    <a href="/logout/">  <span class="glyphicon glyphicon-log-out"></span> Log out </a>
    </button>
</div>

<!-- Add Household Form -->

<form action="/dashboard/" method="post">
    <div class="form-group">
        <label for="lg">HouseHold Name</label>
        <input type="text" class="form-control" placeholder="Enter Household" name="household" id="lg"> </br>
        <button type="submit" class="btn btn-default">Add Household</button>
    </div>
</form>

<!-- Display Flash Messages -->

{% with messages = get_flashed_messages() %}
    {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong> {{ messages[0] }} </strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
    {% endif %}
{% endwith %}


<!-- Household Table -->
<div class = "center">
<div class="table-wrapper-scroll-y">
<table class="table table-bordered table-striped">
{% for row in table %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td> <a href= {{ '/household/' ~ row.id }}> <span class="glyphicon glyphicon-heart"></span> Edit </a> </td>
    </tr>
{% endfor %}
</table>
</div>
</div>

<script src="..\static\js\jquery-3.3.1.js"></script>
<script type="text/javascript" src="..\static\js\bootstrap.min.js"> </script>

</body>
 
</html>