


<!DOCTYPE html>
<style>

.container {
	color: #000000;
	text-align: center;
	padding: 16px;
	line-height: .2;
}

input[type=text], input[type=password] {
    padding: 12px 10px;
    margin: 8px 0;
}

.center {
	position: absolute;
    top: 50%;
    left: 50%;
    width:400px;
    margin-left: -200px; /* margin is -0.5 * dimension */
    margin-top: -150px; 
}

button {
	background-color: #008CBA; /* Green */
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 15px 32px;
}


</style>

<html lang="en">
 
<head>
    <title>Delta Billing</title>
<head>
 
<body>
 

<div class = "center">

	<form action="action_page.php" style="border:1px solid #ccc">
  		<div class="container">
    	<h1>Delta Billing Sign In </h1>

    	<input type="text" placeholder="Enter Login" name="login" required> <br>
	
    	<input type="password" placeholder="Enter Password" name="psw" required> <br>

   		<button type="button">Login</button>

   		</div>
	</form>

</div>

</body>
 
</html>