


<!DOCTYPE html>
<style>

.container {
	color: #000000;
	text-align: center;
	padding: 16px;
	line-height: .2;
}

input[type=text], input[type=password] {
    padding: 12px 10px;
    margin: 8px 0;
}

.center {
	position: absolute;
    top: 50%;
    left: 50%;
    width:400px;
    margin-left: -200px; 
    margin-top: -150px; 
}

button {
	background-color: #008CBA;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 12px 32px;
}

</style>

<html lang="en">
 
<head>
    <title>Delta Billing</title>
<head>
 
<body>
 
<div class = "center">
    <div class = "container">
    <h2> Sign In </h2>
	<form action="/signup" method="post">
        <input type="text" placeholder="Enter Login" name="login"> </br>
        <input type="text" placeholder = "Enter Password" name="password"> </br>
        <button type="submit" value="Signup"> Login </button>
    </form>
    </div>
</div>

</body>
 
</html>